@use '../variables';
@use '../mixins';

#dialogDemo {
  border-radius: 16px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;

  border: 0;
  padding: 0;
  @include mixins.for-tablet {
    max-width: 100%;
    margin-inline: 10px;
  }
}

dialog::backdrop {
  background: rgba(140, 143, 155, 0.5);
}

.demo {

  &__content {
    position: relative;
    @include mixins.glow(#03FCFC, bottom, 400px);

  }

  &-wrapper {

    //@include mixins.glow(#03FCFC);
    position: relative;
    overflow: hidden;
    padding: 40px 80px;
    background: variables.$backgroundDark;
    //background: rgba(225, 240, 255, 0.1);
    //background: rgba(144, 172, 200, 10%);
    display: flex;

    .close {
      cursor: pointer;
      color: #FFFFFF;
      font-size: 24px;
      right: 30px;
      top: 30px;
      position: absolute;
    }

    .glow-title {
      bottom: 50%;
      left: 10%;
    }

    button.btn {
      margin-top: 30px;
      align-self: center;
      padding: 10px 35px;
    }

    @include mixins.for-tablet {
      flex-direction: column;
      grid-row-gap: 20px;
    }

  }


  color: #FFFFFF;
  padding: 35px;
  max-width: 580px;

  &__form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 16px;
    background: rgba(225, 240, 255, 10%);
  }

  &__group {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    grid-row-gap: 20px;

  }

  &__input {
    padding: 10px 15px;
    font-size: 12px;
    outline: none;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 8px;
    color: #FFFFFF;
  }

  .btn {
    align-self: center;
    margin-top: 30px;
  }
}