@use "../variables";
.footer, .header {
  background: #010521;
  color: #fff;

  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding: 30px 30px;
  }

  &__logo img {
    height: 40px;
  }

  &__socials {
    display: flex;
    grid-column-gap: 40px;
    margin-left: auto;

    .social-link {
      font-size: 18px;
      color: #FFFFFF;
    }
  }

  .menu {

    &__burger {
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 25px;
      height: 18px;
      background: none;
      border: none;
      cursor: pointer;
      z-index: 10;

      span {
        display: block;
        height: 3px;
        width: 100%;
        background: #fff;
        border-radius: 2px;
        transition: all 0.3s ease;
      }

      &.active span:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
      }

      &.active span:nth-child(2) {
        opacity: 0;
      }

      &.active span:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
      }
    }

    &__nav {
      //flex: 1;
      text-align: center;
      margin-left: 4rem;
    }

    &__list {
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 30px;
      margin: 0;
      padding: 0;

      a {
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        transition: color 0.3s;

        &:hover {
          color: #00bfff;
        }
      }
    }

    @media (max-width: 768px) {
      &__burger {
        display: flex;
      }
      &__list {
        flex-direction: column;
        gap: 20px;

        a {
          font-size: 18px;
        }
      }
      &__nav {
        display: none;
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        background: #111;
        padding: 15px 0;

        &.active {
          display: block;
        }
      }
    }
  }


  @media (max-width: 768px) {
    &__burger {
      display: flex;
    }

    &__nav {
      display: none;
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 100%;
      background: #111;
      padding: 15px 0;

      &.active {
        display: block;
      }

      .footer__menu {
        flex-direction: column;
        gap: 20px;

        a {
          font-size: 18px;
        }
      }
    }

    &__socials {
      display: none;
    }
  }
}

.header__right {
  display: flex;
  margin-left: auto;
  align-items: center;
  grid-column-gap: 20px;
  .login-button {
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  .login-button:hover {
    color: variables.$primaryColor
  }
}