@use '../mixins' as mixins;

.features-top {
  margin-top: 35px;
  padding-top: 160px;
  @include mixins.glow(#08947C);
  padding-bottom: 85px;

  .h3 {
    white-space: nowrap;
  }
  @include mixins.for-phone-only {
    margin-bottom: 45px;
    padding-bottom: 45px;
  }
}

.features-card {
  display: flex;
  @include mixins.for-phone-only {
    flex-direction: column;
    .title-separator.vertical {
      flex-direction: row;
      width: 65%;

      &:after {
        display: none;
      }
    }
  }

  &__content {
    margin-left: -25px;
    margin-bottom: 30px;
    border-radius: 6px;
    background: linear-gradient(135deg, rgba(250, 250, 251, 0.15) 0%, rgba(148, 148, 149, 0) 100%);
    padding-left: 15%;
    padding-right: 8%;
    padding-block: 50px;
    @include mixins.for-phone-only {
      margin-left: 0px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 30px;
      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 40px;
  }

  &:first-child {
    &__content {
      margin-left: -45px;
    }

  }
}


.feature-list {
  margin-top: 45px;
  padding-left: 35px;

  li {
    margin-bottom: 35px;
    line-height: 30px;
    font-size: 18px;
  }

  @include mixins.for-phone-only {
    li {
      font-size: 16px;
    }
  }
}