@use '../mixins' as mixins;
@use '../variables';

$plane-colors: (
        primary: variables.$primaryColor,
        success: variables.$successColor,
        purple: variables.$darkPurple,
        golden: variables.$golden
);

@mixin drop-shadow($rgba) {
  box-shadow: 0 0 40px rgba($rgba, 20%);
}

.price-top {
  padding-top: 160px;
  padding-bottom: 50px;
  @include mixins.radial-glow-right-corner-with-text(#6A93FE);
}


.plane-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  height: 75%;
  margin-bottom: 25px;

  &__wrap {
    flex: 1 1 0;
    @include mixins.for-tablet {

    }
  }

  @include mixins.for-phone-only {
    height: auto;
    margin-bottom: 0;
    .plane-extra {
      padding-top: 0;
    }
  }

  &s {
    display: flex;
    grid-gap: 20px 40px;
    flex-wrap: wrap;
    margin-bottom: 80px;
  }

  background: linear-gradient(45deg, rgba(250, 250, 251, 12%) 0%, rgba(148, 148, 149, 0%) 100%);
  border-radius: 6px;
  border-top-width: 2px;
  border-top-style: solid;
  @each $name, $color in $plane-colors {
    &.#{$name} {
      border-top-color: $color;

      .plane-item__name {
        color: $color;
      }

      .plane-item__divider {
        @include mixins.neon-separator($color);
        width: 100%;
        max-width: 240px;
      }

      .btn {
        @include drop-shadow($color);
        margin-top: auto;
      }

      & + .plane-extra {
        i {
          color: $color;
        }
      }
    }

  }

  &__description {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 45px;
  }

  &__name {
    font-weight: 600;
    font-size: 24px;
  }

  &__tag {
    font-weight: 700;
    font-size: 56px;
    margin-block: 25px;

    & > span {
      vertical-align: center;
      font-weight: 400;
      font-size: 16px;
    }
  }

  &__title {
    font-weight: 700;
    color: #FFFFFF;
    font-size: 56px;
  }

  &__plane {
    font-size: 20px;
  }

}

.h2-feature {
  margin-bottom: 10px;

  &:before {
    content: "";
    max-width: 240px;
    @include mixins.neon-separator();
    display: block;
    margin-bottom: 30px;
  }
}

.plane-extra {
  padding-top: 35px;
  @include mixins.for-phone-only {
    padding-top: 15px;
  }

  &__title {
    font-size: 22px;

    span {
      font-size: 20px;
      font-weight: 600;
    }
  }

  ul {
    list-style-type: '- ';
  }
}

.plane-cards {
  display: flex;
  grid-gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 80px;

  .card {
    position: relative;
    border-radius: 16px;
    background: rgba(225, 240, 255, 10%);
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    flex: 1 1 30%;
    text-align: center;
    padding: min(5rem, 10vw);
    @include mixins.for-phone-only {
      flex: 1 1 auto;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(
                      135deg,
                      rgba(255, 255, 255, 0.2) 0%,
                      rgba(255, 255, 255, 0.1) 40%,
                      rgba(255, 255, 255, 0.4) 100%
      );
      mix-blend-mode: overlay;
      opacity: 0.7;
    }

    &__icon {
      margin-bottom: 25px;
    }

    &__content {
      color: #FFFFFF;
      max-width: 160px;
      text-align: center;
      display: inline-block;
    }
  }
}
