@use '../mixins' as mixins;
@use '../variables';

$map-colors: (
        success: variables.$successColor,
        gold: variables.$golden,
        primary: variables.$primaryColor,
        red: variables.$red
);

.work-top {
  padding-top: 120px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  @include mixins.radial-glow-right-corner-with-text(#6A93FE);
  .glow-title{
    right: -80%;
  }
}

.work-list {
  position: relative;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  &__attach-num {
    position: absolute;
    border-radius: 40px;
    background: variables.$backgroundDark;
    z-index: 1;
    box-shadow: 0px 0px 0px 20px variables.$backgroundDark;
    left: 50%;
    transform: translateX(-50%);
    top: -55px;
  }

  &__item:nth-child(1) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  &__item:nth-child(2) {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
  }

  &__item:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  &__item:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  &__item {
    position: relative;
    border-radius: 16px;
    background: linear-gradient(90deg, rgba(250, 250, 251, 15%) 0%, rgba(148, 148, 149, 0%) 100%);
    padding: 60px 40px 40px 40px;
    @each $name, $color in $map-colors {
      &.#{$name} {
        .work-list__number {
          @include mixins.circle-radar($color);

          & > span {
            font-size: 24px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .work-list {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  @for $i from 1 through 4 {
    .work-list__item:nth-child(#{$i}){
      grid-row:auto;
      grid-column:auto
    }
  }

}