$backgroundDark: #000617;
$primaryColor: #6A93FE;
$primarySecond: #3A9CFC;
$successColor: #42C6A5;
$secondaryColor: #FFFAED;
$softColor: #F0F4FF;
$darkPurple: #895BF7;
$light: #FFFFFF;
$golden: #FFD669;
$colorMain: #1A1E37;
$red:#FE6A77;
$bodyCard: #FAFAFB26
